<%- include('partials/header'); -%>
<section id="contests">
  <h1><%= name %></h1>

  <div class="container d-flex justify-content-center">
    <ul class="list-group">
      <% contests.forEach(function(c){ %>
      <li class="list-group-item">
        <div class="contest">
          <h3><%= c.event %></h3>
          <p>
            <span style="font-weight: bold">Start Date</span>: <%=
            moment.utc(c.start).format('MMMM Do YYYY') %><br />
            <span style="font-weight: bold">End Date</span>: <%=
            moment.utc(c.end).format('MMMM Do YYYY') %><br />
            <span style="font-weight: bold">Start Time</span>: <%=
            moment.utc(c.start).tz('Asia/Kolkata').format('h:mm:ss a') %><br />

            <span style="font-weight: bold">End Time</span>: <%=
            moment.utc(c.end).tz('Asia/Kolkata').format('h:mm:ss a') %><br />
            <span style="font-weight: bold">Countdown</span>: <%=
            moment.utc(c.start).startOf(c.start).fromNow() %><br />
          </p>

          <a href="<%= c.href %>">Register</a>
        </div>
      </li>
      <% }) %>
    </ul>
  </div>
</section>
<%- include('partials/footer.ejs'); -%>
